<div class="text-center fs-6 text-danger">
  <b>{{mensagem}}</b>
</div>
<div class="wrapper">
<form name="form1" action="criar" method="post" class="p-3 mt-3">
  <div class="form-field d-flex align-items-center">
    <span class="far fa-user"></span>
    <input type="text" name="usuario" id="usuario" placeholder="Usuario"><br>
  </div>
  <div class="form-field d-flex align-items-center">
    <span class="fas fa-key"></span>
    <input type="password" name="senha" id='senha' placeholder="Sennha"><br>
  </div>
<input type="submit" name="logar" id='logar' value="Criar" class="btn mt-3"><br>
</div>
</form>
